{% extends 'base.html.twig' %}

{% block main %}
<div class="container margin-top">
	<div class="row">

		{# menu du profil, togglable #}
		<aside class="col-md-5 col-sm-12">

			<!-- header profil -->
			<div id="profil-nav">

						{# Fond coloré #}
			            <div class="modal-header amber"></div>

			            {# Avatar #}
			            <div class="d-flex flex-column align-items-center avatar-profil">
				            <div class="d-inline-flex flex-column align-items-center">
					            <div class="avatar d-block">
					            	<img class="img-avatar" src="{{ asset('img/uploads/user/')}}{{ app.user.photo }}" alt="votre image de profil">
					            </div>

					            {# Pseudo utilisateur #}
				            	<h3 id="profil-user">{{ app.user.username }}</h3>

				            	{# Note de l'utilisateur
				            	<ul class="rating inline-ul text-center pl-0">
					                <li><i class="fa fa-star amber-text"></i></li>
					                <li><i class="fa fa-star amber-text"></i></li>
					                <li><i class="fa fa-star amber-text"></i></li>
					                <li><i class="fa fa-star"></i></li>
					                <li><i class="fa fa-star"></i></li>
					            </ul>
					            #}
				        	</div>
			        	</div>

			            <div class="modal-body">

			                {# Contenu du menu #}
							<div class="list-group collapse" id="profil-nav-item" role="tablist">
								<h5 class="list-group-item"><i class="fa fa-id-card-o plusun-color" aria-hidden="true"></i> Mes informations</h5>
							    	<a class="list-group-item list-group-item-action pl-5" id="list-info-voir-list" data-toggle="list" href="#list-info-voir" role="tab" aria-controls="info-voir">Voir</a>
							    	<a class="list-group-item list-group-item-action pl-5" id="list-info-modifier-list" data-toggle="list" href="#list-info-modifier" role="tab" aria-controls="info-modifier">Modifier <span class="badge badge-danger badge-pill">1</span></a>

							   <h5 class="list-group-item"><i class="fa fa-calendar plusun-color" aria-hidden="true"></i> Mes énévements</h5>
							    	<a class="list-group-item list-group-item-action pl-5" id="list-organisateur-list" data-toggle="list" href="#list-organisateur" role="tab" aria-controls="organisateur">J'organise</a>
							    	<a class="list-group-item list-group-item-action pl-5" id="list-participant-list" data-toggle="list" href="#list-participant" role="tab" aria-controls="participant">Je participe <span class="badge badge-danger badge-pill">1</span></a>

							    <h5 class="list-group-item"><i class="fa fa-envelope-o plusun-color" aria-hidden="true"></i></i> Mes alertes</h5>
							    	<a class="list-group-item list-group-item-action pl-5" id="list-alertes-list" data-toggle="list" href="#list-alertes" role="tab" aria-controls="alertes">Voir <span class="badge badge-danger badge-pill">1</span></a>

							    <h5 class="list-group-item"><i class="fa fa-road plusun-color" aria-hidden="true"></i> Mon historique</h5>
							    	<a class="list-group-item list-group-item-action pl-5" id="list-historique-list" data-toggle="list" href="#list-historique" role="tab" aria-controls="historique">Consulter</a>
							</div>

			            </div>
			            <div class="modal-footer">
			            	<span id="toggle-profil-down">Afficher <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
			            	
			                <span id="toggle-profil-up">Réduire <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
			            </div>
			</div>
                                
		</aside>
		
		{# Contenu lié aux différents éléments du menu profil #}
		<section id="profil-content" class="col-md-7 col-sm-12">
			{# pour récupérer les info sur l'utilisateur (ne fonctionne qu'avec l'utilisateur) app.user.information voulue #}
			<h3>Bonjour, {{ app.user.username }}</h3>

			<div class="tab-content" id="nav-tabContent">
		      <div class="tab-pane fade" id="list-info-voir" role="tabpanel" aria-labelledby="list-info-voir-list">
		      	 {{ include('security/voirprofilinfos.html.twig') }}
		      </div>

		      <div class="tab-pane fade" id="list-info-modifier" role="tabpanel" aria-labelledby="list-info-modifier-list">
		      		{{ include('security/profilinfos.html.twig') }}
		      </div>

		      <div class="tab-pane fade show active" id="list-alertes" role="tabpanel" aria-labelledby="list-alertes-list">
		      	{% block alertes %}Récap' de mes alertes (messages d'utilisateur, commentaires, alerte événement, etc){% endblock %}
		      </div>

		      <div class="tab-pane fade" id="list-organisateur" role="tabpanel" aria-labelledby="list-organisateur-list">
		      	{% block evenementorganise %}Liste des événements organisés par l'utilisateur{% endblock %}
		      </div>

		      <div class="tab-pane fade" id="list-participant" role="tabpanel" aria-labelledby="list-participant-list">
		      	{% block evenementparticipe %}Liste des événements auxquels l'utilisateur s'est inscrit et qui vont avoir lieu{% endblock %}
		      </div>

		      <div class="tab-pane fade" id="list-historique" role="tabpanel" aria-labelledby="list-historique-list">
		      	{% block historique %}Listes des événemens passés (facultatif ?){% endblock %}
		      </div>

		    </div>

		</section>

	</div>
</div>
{% endblock %}



{# ajout de jQuery en fonction des pages #}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}


