{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container margin-top">

	<h2 class="text-center">Ajouter un sport à une catégorie</h2>

	{{ form_start(sportForm, {'method': 'POST'}) }}

	<div class="">
		{# label #}
		<label>Catégorie</label>
		{# message d'erreur sur le pseudo #}
		{{ form_errors(sportForm.categorie) }}
		{# input, checkbox, select, etc #}
		{{ form_widget(sportForm.categorie, {'attr': {'class': 'form-control'}}) }}
		
	</div>

	<div class="md-form">
		{# message d'erreur sur le pseudo #}
		{{ form_errors(sportForm.nom) }}
		{# input, checkbox, select, etc #}
		{{ form_widget(sportForm.nom, {'attr': {'class': 'form-control'}}) }}
		{# label #}
		{{ form_label(sportForm.nom, "Sport") }} 
	</div>

	<div class="text-center">
		<button class="btn btn-primary" type="submit">Enregistrer<i class="fa fa-paper-plane-o ml-1"></i></button>
	</div>

	{{ form_end(sportForm) }}

</section>

<section class="container">

		<h3>Sports déjà enregistrés</h3>

		<div>
			<table>
				<thead>
					<td>Nom</td>					
					<td>Catégorie</td>
					<td>Supprimer</td>
				</thead>
		{% for sport in sports%}
				<tr>
					<td>{{ sport.nom }}</td>					
					<td>{{ sport.categorie.nom }}</td>
					<td><a href="{{ asset('admin/sport/supprimer/') }}{{ sport.id }}" class="blue-text ml-1">Supprimer</a></td>
				</tr>
		{% endfor %}
				</tr>
			</table>
		</div>

</section>

{% endblock %}