{% extends 'base.html.twig' %}

{% block main %}
<section class="container margin-top">

	<div class="card">
		<div class="card-body">

			<h2 class="h2-responsive">Ajouter un sport à une catégorie</h2>

			{{ form_start(sportForm, {'method': 'POST'}) }}
			<div class="row mt-4">

				<div class="col-md-6">
					<label>Catégorie</label>
					{{ form_errors(sportForm.categorie) }}
					{{ form_widget(sportForm.categorie, {'attr': {'class': 'form-control'}}) }}
					
				</div>

				<div class="col-md-6">
					<div class="">
						{{ form_errors(sportForm.nom) }}
						{{ form_label(sportForm.nom, "Sport") }} 
						{{ form_widget(sportForm.nom, {'attr': {'class': 'form-control pb-0 mt-0'}}) }}
					</div>
				</div>

			</div>

			<div class="text-center">
				<button class="btn btn-plusun" type="submit">Enregistrer<i class="fa fa-paper-plane-o ml-1"></i></button>
			</div>

			{{ form_end(sportForm) }}

		</div>
	</div>

</section>

<section class="container mt-4">

	<h3>Sports déjà enregistrés</h3>

	<div class="table-reponsive">
		<table class="table product-table">
			<thead>
				<th>Sport</th>					
				<th>Catégorie</th>
				<th>Action</th>
			</thead>
	{% for sport in sports%}
			<tr>
				<td>{{ sport.nom }}</td>					
				<td>{{ sport.categorie.nom }}</td>
				<td><a href="{{ asset('admin/sport/supprimer/') }}{{ sport.id }}" class="blue-text ml-1"><span class="badge red">Supprimer <i class="fa fa-times" aria-hidden="true"></i></span></a></td>
			</tr>
	{% endfor %}
			</tr>
		</table>
	</div>

</section>

{% endblock %}