{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<div>
		{% for comment in comments %}
	Autheur : {{ comment.user }}<br>
	Date : {{ comment.date }}<br>
	Message : {{ comment.commentaire }}<br>
	
	{% endfor %}
	</div>