{% extends 'base.html.twig' %}

{% block main %}

<section class="form-elegant container">
	{% if complet %}
		Evénement complet !<br>
	{% endif %}
	{% if vide %}
		Soyez le premier à participer !<br>
	{% endif %}
	{% if not complet %}
		Participants : {{ nombre }} / {{ evenement.participantMax }}<br>
	{% endif %}
	{% if user %}
		{% if nombre > 0 %}
			Liste participants : <br>
			{% for participant in participants %}
				{{ participant.user.username }}<br>
			{% endfor %}<br>
		{% endif %}
	{% endif %}

	Titre : {{ evenement.titre }}<br>
	Organisé par : {{ evenement.organisateur }}<br>
	Description : {{ evenement.description }}<br>
	Le {{ evenement.dateEvenement|date("d/m/Y") }} à {{ evenement.dateEvenement|date("H:i") }}<br>
	Niveau demandé : {{ evenement.niveau.nom }}<br>
	{{ evenement.sport.nom }}<br>
	<img src="{{ asset('img/uploads/evenement/')}}{{ evenement.photo }}" class="img-fluid">
	{% if dejaInscrit %}
		<button class="btn btn-primary" type="submit"><a href="{{ asset('evenements/desinscription/') }}{{ evenement.id }}" class="blue-text ml-1"> Ne plus Participer </a></i></button>
	{% endif %}
	{% if not dejaInscrit %}
		{% if not complet %}
				<button class="btn btn-primary" type="submit"><a href="{{ asset('evenements/inscription/') }}{{ evenement.id }}" class="blue-text ml-1"> Participer </a></i></button>
		{% endif %}
	{% endif %}
</section>
<section>
<div>

	{{ form_start(form, {'method': 'POST'}) }}

	{{ form_end(form) }}

		{% for comment in comments %}
	Auteur : {{ comment.user.username }}<br>
	Date : {{ comment.date|date('d/m/Y') }}<br>
	Message : {{ comment.commentaire }}<br>
		{% endfor %}
	</div>	
</section>

{% endblock %}