{% extends 'base.html.twig' %}

{% block main %}

<section class="form-elegant container margin-top">
	{% if complet %}
		Evénement complet !<br>
	{% endif %}
	{% if vide %}
		Soyez le premier à participer !<br>
	{% endif %}
	{% if not complet %}
		Participants : {{ nombre }} / {{ evenement.participantMax }}<br>
	{% endif %}
	{% if user %}
		{% if nombre > 0 %}
			Liste participants : <br>
			{% for participant in participants %}
				{{ participant.user.username }}<br>
			{% endfor %}<br>
		{% endif %}
	{% endif %}

	Titre : {{ evenement.titre }}<br>
	Organisé par : {{ evenement.organisateur }}<br>
	Description : {{ evenement.description }}<br>
	Le {{ evenement.dateEvenement|date("d/m/Y") }} à {{ evenement.dateEvenement|date("H:i") }}<br>
	Niveau demandé : {{ evenement.niveau.nom }}<br>
	{{ evenement.sport.nom }}<br>
	<img src="{{ asset('img/uploads/')}}{{ evenement.photo }}" class="img-fluid">
	{% if dejaInscrit %}
		<button class="btn btn-primary" type="submit"><a href="{{ asset('evenements/desinscription/') }}{{ evenement.id }}" class="blue-text ml-1"> Ne plus Participer </a></i></button>
	{% endif %}
	{% if not dejaInscrit %}
		{% if not complet %}
				<button class="btn btn-primary" type="submit"><a href="{{ asset('evenements/inscription/') }}{{ evenement.id }}" class="blue-text ml-1"> Participer </a></i></button>
		{% endif %}
	{% endif %}
</section>


<section class="container">

<div class="chatContainer">
    <div class="chatTitleContainer">nbre Commentaires</div>

    {% if is_granted('ROLE_USER') %}
	<div class="chatHistoryContainer">

        <ul class="formComments">
        	{% for comment in comments %}
			<li class="commentLi commentstep-1" data-commentid="{{ comment.id }}">
				<table class="form-comments-table">
					<tr>
						<td></td>
						<td>
							<div class="comment-avatar text-center">
								<img src="{# {{ asset('img/uploads/user/')}}{{ app.user.photo }} #}">
							</div>
							<div class="comment-user">{{ comment.user.username }}</div>
						</td>
						<td></td>
						<td>
							<div id="comment-{{ comment.id }}" data-commentid="{{ comment.id }}" class="comment comment-step1">
								<i class="fa fa-flag signal"></i>
								{{ comment.commentaire }}
								
								{% if app.user.id == comment.user.id %}
                                <div id="commentactions-{{ comment.id }}" class="comment-actions">
                                    <div class="btn-group" role="group" aria-label="...">
                                       {#  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Reply</button> #}
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i>Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i><a href="">Delete</a></button>
                                    </div>                                
                                </div>
                                {% endif %}
                            </div>
                            <div class="comment-timestamp">{{ comment.date|date('d/m/Y H:i:s') }}</div>
						</td>
					</tr>
				</table>
			</li>  
           
			{% endfor %}  
        </ul>
	</div>
</div>
	</div>	
{{ form_start(form, {'method': 'POST'}) }}
	<div class="input-group input-group-sm chatMessageControls">
	
         {{ form_widget(form.commentaire, {'attr': { 'placeholder': 'Votre commentaire ici..', 'id': 'sendMessageForm'}}) }}   
        <span class="input-group-btn">
        	{{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary fa fa-send', 'type': 'button', 'id': 'sendMessageButton'}}) }}  
        </span>
	
	</div>
{{ form_end(form) }}

</section>
{% else %}
	<div class="alert alert-info" role="alert">
  <strong>Hep là!</strong> Pour accéder aux commentaires tu dois te <a href="/connexion" class="alert-link">connecter</a>, ou <a href="/inscription" class="alert-link">t'inscrire</a> (et tu pourras même rejoindre cet évenement! ).
</div> 

{% endif %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>{% endblock %}