{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container">
	Titre : {{ evenement.titre }}<br>
	Organisateur : {{ evenement.organisateur }}<br>
	Description : {{ evenement.description }}<br>
	{{ evenement.dateEvenement|date("d/m/Y") }}
	{{ evenement.sport.nom }}

</section>

{% endblock %}