{% extends 'base.html.twig' %}

{% block main %}
	
<section class="container margin-top">

	<div class="row">

		<aside class="col-md-4 mb-5">

			<h2 class="responsive mb-4">Filtrer les recherches</h2>

			<form action="{{ path('evenements') }}" method="post" class="header__form__search">

			    <div class="">
			    	<label>Catégorie</label>
			        <select name="categorie" class="form-control">
			        <option disabled selected value="">Trier par catégorie</option>
			        	{% for categorie in categories %}
			        		<option value="{{ categorie.nom }}"> {{ categorie.nom }}</option>
			        	{% endfor %}
			        </select>
			    </div>
			    
			    <div class="">
			    	<label>Sport</label>
			        <select name="sport" class="form-control">
			        <option disabled selected>Trier par sport</option>
			        	{% for sport in sports %}
			        		<option value="{{ sport.nom }}"> {{ sport.nom }}</option>
			        	{% endfor %}
			        </select>
			    </div>

				<div class="">
					<label>Niveau</label>
			        <select name="niveau" class="form-control">
			       	<option disabled selected>Trier par niveau</option>
			        	{% for niveau in niveaux %}
			        		<option value="{{ niveau.nom }}"> {{ niveau.nom }}</option>
			        	{% endfor %}
			        </select>
			    </div>

			    <div class="">
			    	<label class="mb-0">Ville</label>
			        <input class="form-control" type="text" name="ville"/>
			    </div>

			    <div class="form-group">
			    	<label>Date</label>
					<input type="date" name="dateRecherche"/>
				</div>

				<div class="text-center">
			        <button class="btn btn-plusun" type="submit">Rechercher</button>
			    </div>

			</form>

		</aside>

		<section class="col-md-8">
			{% if aucunResultat %}
				Aucun résultat pour votre recherche
			{% endif %}

			{% if not aucunResultat %}
			{% for evenement in evenements %}

				{# EVENEMENT #}
				<div class="card mb-4 gradient-light">

					{# ligne colorée #}
				    {# <div class="banner-liste-evenement plusun-bg view"><div class="mask pattern-5"></div></div> #}

				    {# CORPS DE L'EVENEMENT #}
				    <div class="card-body pb-0">

					    {# ORGANISATEUR #}
					    <div class="row">

				    		<div class="col-auto">
						    	<div class="d-flex flex-column align-items-center">
							    	{# PHOTO PROFIL #}
							        <div class="avatar avatar-90 d-block z-depth-1">
							        	<img class="img-avatar" src="{{ asset('img/uploads/user/')}}{{ evenement.user.photo }}">
							        </div>
							        {# PSEUDO UTILISATEUR #}
							        <h5 class="h5-responsive mt-2">{{ evenement.user.username }}</h5>
						    	</div>
						    </div>

						    
					    	<div class="col d-flex flex-column justify-content-md-end">
						        {# TITRE #}
						        <a href="{{ asset('evenements/') }}{{ evenement.id }}" alt="{{ evenement.titre }} par l'utilisateur {{ evenement.user.username }}" class="dark-grey-text">
						        	<h4 class="h4-responsive">{{ evenement.titre }}</h4>
						    	</a>

						       	{# SPORT ET NIVEAU #}
						        <p>
						        	<span class="badge indigo">{{ evenement.sport.nom }} </span>
							        <span class="badge {{evenement.niveau.nom}} ">{{ evenement.niveau.nom }}</span>
						        </p>
						    </div>
						</div>

						<div class="row">

							{# DESCRIPTION #}
						    <div class="offset-lg-2 col-lg-5 col-sm-12">
							    <p class="small font-italic"><i class="fa fa-quote-left grey-text"></i> {{ evenement.description }}</p>
						    </div>

						    {# DATE HEURE LIEU #}
				        	<div class="col-lg-3 col-sm-12">

					        	<ul class="list-unstyled">
						        	<li><i class="fa fa-calendar plusun-color" aria-hidden="true"></i> {{ evenement.dateEvenement|date("d/m/Y") }}</li>
						        	<li><i class="fa fa-clock-o plusun-color" aria-hidden="true"></i> {{ evenement.dateEvenement|date("H:i") }}</li>
						        	<li><i class="fa fa-map-marker plusun-color" aria-hidden="true"></i> {{ evenement.ville }}</li>
						        </ul>

				        	</div>
					    </div>  
						
				    </div>

			        <div class="card-footer pt-0 pb-0 gradient-yellow-plusun">

				    	<div class="d-flex justify-content-end align-items-center evenement-bg">
				    		<span class="text-center text-white mr-2">{{ evenement.placesRestantes }} places restantes </span>
				        	<a href="{{ asset('evenements/') }}{{ evenement.id }}" class="btn btn-plusun btn-rond waves-effect btn-small btn-list-evenement" role="button"><span class="font-weight-bold h5">+ 1</span></a>
				    	</div>

			    	</div>
					
				</div>
				{# FIN EVENEMENT #}

			{% endfor %}
			{% endif %}
		</section>
	</div>

</section>

{% endblock %}