{% extends 'base.html.twig' %}

{% block main %}
	
<section class="container margin-top">

	{% for evenement in evenements %}


	<!-- UN EVENEMENT -->
	<div class="card mb-4">

	    <!--Card image-->
	    <div class="banner-liste-evenement plusun-bg"></div>

	    <div class="row card-body">

		    {# Avatar #}
		    <div class="d-inline-flex flex-column align-items-center profil-user-evenements col-md-3">

		    	{# AVATAR #}
		        <div class="avatar d-block">
		        	<img class="img-fluid" src="http://static1.purepeople.com/articles/8/26/71/48/@/3774028-emma-watson-a-la-warner-bros-pictures-a-950x0-2.jpg" alt="votre image de profil">
		        </div>

		        {# PSEUDO UTILISATEUR #}
		        <h4 class="card-title">{{ evenement.organisateur }}</h4>

		        {# Note de l'utilisateur #}
	        	<ul class="rating inline-ul pl-0">
	                <li><i class="fa fa-star amber-text"></i></li>
	                <li><i class="fa fa-star amber-text"></i></li>
	                <li><i class="fa fa-star amber-text"></i></li>
	                <li><i class="fa fa-star"></i></li>
	                <li><i class="fa fa-star"></i></li>
	            </ul>

	    	</div>

		    <!--Card content-->
		    <div class="col-md-9">
		        <!--Title-->
		        
		        <h5 class="card-title">{{ evenement.titre }}</h5>
		        <!--Text-->
		        <p class="card-text">{{ evenement.description }}</p>
		        <p class="card-text">{{ evenement.sport.nom }}</p>
		        <p class="card-text">{{ evenement.niveau.nom }}</p>
		        <p class="card-text">Le {{ evenement.dateEvenement|date("d/m/Y") }} à {{ evenement.dateEvenement|date("H:i") }}</p>
		        <a href="#" class="btn btn-primary">Button</a>
		    </div>

		</div>
	</div>
	<!--/.UN EVENEMENT -->
                
	
	{% endfor %}
	</div>


</section>

{% endblock %}