{% if organiseAucun %}
	<div class="">Vous n'avez organisé aucun événement pour le moment</div>
{% endif %}

{% if not organiseAucun %}
	<h3 class="h3-responsive">C'est moi qui organise !</h3>
{% endif %}

<div class="table-reponsive">
	<table class="table product-table">
		<thead>
			<th>Événement</th>					
			<th>Action</th>
		</thead>

		{% for evenement in organiseEvenements %}
			<tr>
				<td>	
					<h4 class="h4-responsive">{{ evenement.titre }}</h4>

					<p class="small font-italic"><i class="fa fa-quote-left grey-text"></i> {{ evenement.description }}</p>

					<ul class="list-unstyled">
				    	<li><i class="fa fa-calendar plusun-color" aria-hidden="true"></i> {{ evenement.dateEvenement|date("d/m/Y") }}</li>
				    	<li><i class="fa fa-clock-o plusun-color" aria-hidden="true"></i> {{ evenement.dateEvenement|date("H:i") }}</li>
				    	<li><i class="fa fa-map-marker plusun-color" aria-hidden="true"></i> {{ evenement.ville }}</li>
				    </ul>
				</td>
				<td>
					<div class="row">
						<a class="btn btn-primary btn-sm mb-1" style="width:100%" href="{{ asset('evenements/') }}{{ evenement.id }}">VOIR <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

						<a class="btn btn-danger btn-sm mt-1" style="width:100%" href="{{ asset('profil/annuler/') }}{{ evenement.id }}">ANNULER <i class="fa fa-times" aria-hidden="true"></i></a>
					</div>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>




