{% extends 'base.html.twig' %}

{% block main %}
<section class="form-elegant container margin-top">

		{% if aucun %}
			Vous ne participez à aucun événement pour le moment !<br>
		{% endif %}
		{% if not aucun %}
		Vous participez à : {{ nombre }} événements !<br>

			{% for participant in participants %}
				Titre : {{ participant.evenement.titre }}<br>
				Description : {{ participant.evenement.description }}<br>
				Le {{ participant.evenement.dateEvenement|date("d/m/Y") }} à {{ participant.evenement.dateEvenement|date("H:i") }}<br>
			{% endfor %}
		{% endif %}
</section>

{% endblock %}