{% if participeAucun %}
	<div class="">Vous ne participez à aucun événement pour le moment !</div>
{% endif %}

{% if not participeAucun %}
	<div class="">Vous participez à : {{ participeNombre }} événements !</div>

	<div class="table-reponsive">
		
		<table class="table product-table">
			<thead>
				<th>Événement</th>					
				<th>Action</th>
			</thead>

			{% for participant in participants %}
				<tr>
					<td>	
						<h4 class="h4-responsive">{{ participant.evenement.titre }}</h4>

						<p class="small font-italic"><i class="fa fa-quote-left grey-text"></i> {{ participant.evenement.description }}</p>

						<ul class="list-unstyled">
					    	<li><i class="fa fa-calendar plusun-color" aria-hidden="true"></i> {{ participant.evenement.dateEvenement|date("d/m/Y") }}</li>
					    	<li><i class="fa fa-clock-o plusun-color" aria-hidden="true"></i> {{ participant.evenement.dateEvenement|date("H:i") }}</li>
					    	<li><i class="fa fa-map-marker plusun-color" aria-hidden="true"></i> {{ participant.evenement.ville }}</li>
					    </ul>
					</td>
					<td>
						<a href="{{ asset('evenements/desinscription/') }}{{ participant.evenement.id }}"><span class="badge red px-1">SE DESINSCRIRE <i class="fa fa-times" aria-hidden="true"></i></span></a>
					</td>
				</tr>
			{% endfor %}
		</table>

	</div>
{% endif %}