{% if participeAucun %}
	<h3 class="h3-responsive">Vous ne participez à aucun événement pour le moment !</h3>
{% endif %}

{% if not participeAucun %}
	<h3 class="h3-responsive">Je suis dispo pour {{ participeNombre }} événement(s) !</h3> 

	<div class="table-reponsive">
		
		<table class="table product-table">
			<thead>
				<th>Événement</th>					
				<th>Action</th>
			</thead>

			{% for participant in participants %}
				<tr>
					<td>	
						<h4 class="h4-responsive">{{ participant.evenement.titre }}</h4>

						<p class="small font-italic"><i class="fa fa-quote-left grey-text"></i> {{ participant.evenement.description }}</p>

						<ul class="list-unstyled">
					    	<li><i class="fa fa-calendar plusun-color" aria-hidden="true"></i> {{ participant.evenement.dateEvenement|date("d/m/Y") }}</li>
					    	<li><i class="fa fa-clock-o plusun-color" aria-hidden="true"></i> {{ participant.evenement.dateEvenement|date("H:i") }}</li>
					    	<li><i class="fa fa-map-marker plusun-color" aria-hidden="true"></i> {{ participant.evenement.ville }}</li>
					    </ul>
					</td>
					<td>
						<div class="row">
							<a class="btn btn-primary btn-sm mb-1" style="width:100%" href="{{ asset('evenements/') }}{{ evenement.id }}">VOIR <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

							<a class="btn btn-danger btn-sm mt-1" style="width:100%" href="{{ asset('evenements/desinscription/') }}{{ participant.evenement.id }}">SE DESINSCRIRE <i class="fa fa-times" aria-hidden="true"></i></a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>

	</div>
{% endif %}