{% extends 'base.html.twig' %}

{% block main %}
<section class="container margin-top">

	<h1 class="text-center">Organiser un événement</h1>

    {{ form_start(form, {'method': 'POST'}) }}

    	{{ form_errors(form) }}

    	{# PARTIE DESCRIPTION #}
    	<div class="pb-3">
    	<p class="h5 mb-4"><i class="fa fa-pencil" aria-hidden="true"></i> Tu propose quoi ?</p>

	    	{# TITRE #}
	    	<div class="md-form">
	        	{{ form_errors(form.titre) }}
				{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
				{{ form_label(form.titre, "Titre de l'événement") }}
	    	</div>

	    	<div class="row mb-3">

		    	{# SPORT #}
		    	<div class="col-md-6">
		    		{{ form_errors(form.sport) }}
		        	<label>Sport</label>
					{{ form_widget(form.sport, {'attr': {'class': 'form-control'}}) }}
		    	</div>

		    	{# NIVEAU REQUIS #}
		    	<div class="col-md-6">
		    		{{ form_errors(form.niveau) }}
		    		<label>Niveau souhaité</label>
					{{ form_widget(form.niveau, {'attr': {'class': 'form-control'}}) }}
		    	</div>

	    	</div>

	    	{# DESCRIPTION #}
	    	<div class="md-form">
	        	{{ form_errors(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'md-textarea'}}) }}
				{{ form_label(form.description, "Description de l'événement") }}
	    	</div>

	    	{# PHOTO #}
	    	<div class="">
	    		{{ form_errors(form.photo) }}
	        	{{ form_label(form.photo, "Photo") }}
				{{ form_widget(form.photo, {'attr': {'class': ''}}) }}
	    	</div>

	    </div>


	    {# PARTIE LIEU #}
	    <p class="h5 mb-4"><i class="fa fa-map-marker" aria-hidden="true"></i> On se retrouve où ?</p>

	    	<div class="row">

		    	{# ADRESSE #}
		    	<div class="col-md-4">
						{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}, {'attr': {'autocomplete': 'off'}}) }}
						{{ form_label(form.adresse, "Adresse") }}
			    	</div>
			    </div>

	    		{# CODE POSTAL #}
	    		<div class="col-md-4">
			    	<div class="md-form">
			        	{{ form_errors(form.codePostal) }}
						{{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
						{{ form_label(form.codePostal, "Code postal") }}
			    	</div>
		    	</div>

		    	{# VILLE #}
		    	<div class="col-md-4">
			    	<div class="md-form">
			        	{{ form_errors(form.ville) }}
						{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
						{{ form_label(form.ville, "Ville") }}
			    	</div>
			    </div>

	    	</div>

	    {# PARTIE DATE ET HEURE #}
    	<p class="h5 mb-4"><i class="fa fa-calendar" aria-hidden="true"></i> Tu penses à une date ?</p>

    		<div class="row">

				{# DATE #}
				<div class="col-md-6">
			    	<div class="form-group">
			        	{{ form_errors(form.dateEvenement.date) }}
			        	<label>Date de l'événement</label>
						{{ form_widget(form.dateEvenement.date, {'attr': {'class': ''}}) }}
			    	</div>
		    	</div>

		    	{# HEURE #}
		    	<div class="col-md-6">
			    	<div class="form-group">
			        	{{ form_errors(form.dateEvenement.time) }}
			        	<label>Heure de l'événement</label>
			        	<div class="row">
			        		<div class="col-6">
								{{ form_widget(form.dateEvenement.time.hour, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="col-6">
								{{ form_widget(form.dateEvenement.time.minute, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
			    	</div>
		    	</div>

		    </div>


		{# PARTIE INSCRIPTION #}
    	<p class="h5 mb-4"><i class="fa fa-users" aria-hidden="true"></i> On peut venir à plusieurs ?</p>

    	{# INSCRIPTION OU NON #}
    	<div class="form-group">
    		{{ form_errors(form.inscription) }}
    		<label>Événement soumis aux inscriptions : </label>
			{{ form_widget(form.inscription, {'attr': {'class': ''}}) }}
			<p class="small font-italic">Cocher cette case vous permet de définir un nombre minimum et/ou maximum de participants à votre événement</p>
    	</div>

    	<div class="row">
		{# NB MIN PARTICIPANT #}
	    	<div class="col-md-6">
	    		{{ form_errors(form.participantMin) }}
	    		<label>Nombre minimum de participants</label>
				{{ form_widget(form.participantMin, {'attr': {'class': 'form-control'}}) }}
	    	</div>

	    	{# NB MAX PARTICIPANT #}
	    	<div class="col-md-6">
	    		{{ form_errors(form.participantMax) }}
	    		<label>Nombres maximum de participants</label>
				{{ form_widget(form.participantMax, {'attr': {'class': 'form-control'}}) }}
	    	</div>
    	</div>

    	{# PRIVE OU NON #}
    	<div class="form-group">
        	{{ form_errors(form.statut) }}
        	{{ form_label(form.statut, "Cet événement est privé") }}
			{{ form_widget(form.statut, {'attr': {'class': ''}}) }}
    	</div>

    	<hr>
    	
    	<div class="text-center">
        	<button class="btn btn-plusun" type="submit">Lance ta proposition<i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>

    {{ form_end(form) }}


</section>

{% endblock %}