{% extends 'base.html.twig' %}

{% block main %}
<section class="container margin-top">

	<h1 class="text-center mb-5">Organiser un événement</h1>

    {{ form_start(form, {'method': 'POST'}) }}

    	{{ form_errors(form) }}

    	{# PARTIE DESCRIPTION #}
    	<div class="pb-3">
    	<p class="h5 mb-3"><i class="fa fa-pencil" aria-hidden="true"></i> Vous proposez quoi ?</p>

	    	{# TITRE #}
	    	<div class="">
	        	{{ form_errors(form.titre) }}
	        	<label>Titre de l'événement</label>
				{{ form_widget(form.titre, {'attr': {'class': 'form-control mt-0 pt-0'}}) }}
	    	</div>

	    	<div class="row">

		    	{# SPORT #}
		    	<div class="col-md-6">
		    		{{ form_errors(form.sport) }}
		        	<label>Sport</label>
					{{ form_widget(form.sport, {'attr': {'class': 'form-control'}}) }}
		    	</div>

		    	{# NIVEAU REQUIS #}
		    	<div class="col-md-6">
		    		{{ form_errors(form.niveau) }}
		    		<label>Niveau souhaité</label>
					{{ form_widget(form.niveau, {'attr': {'class': 'form-control'}}) }}
		    	</div>

	    	</div>

	    	{# DESCRIPTION #}
	    	<div class="mb-4">
	        	{{ form_errors(form.description) }}
	        	<label class="mb-0">Description de l'événement</label>
				{{ form_widget(form.description, {'attr': {'class': 'md-textarea mt-0 pt-0'}}) }}
	    	</div>

	    	{# PHOTO #}
	    	<p>Personnalisez votre événement en y ajoutant une photo</p>
	    	{{ form_errors(form.photo) }}
			{{ form_widget(form.photo, {'id' : 'photo-file', 'attr': {'class': 'input-file'}}) }}
			<label class="input-file-trigger text-center" for="photo-file"><span><i class="fa fa-file-photo-o" aria-hidden="true"></i> Ajouter une photo...</span></label>
	    	
	    </div>


	    {# PARTIE LIEU #}
	    <p class="h5 mt-4 mb-3"><i class="fa fa-map-marker" aria-hidden="true"></i> On se retrouve où ?</p>

	    	{# ADRESSE #}
	    	<div class="mb-4">
    			<label class="mb-0">Adresse</label>
				{{ form_widget(form.adresse, {'attr': {'class': 'form-control mt-0 pt-0'}}, {'attr': {'autocomplete': 'off'}}) }}
		    </div>

	    	<div class="row">

	    		{# CODE POSTAL #}
	    		<div class="col-md-6">
			    	<div class="">
			        	{{ form_errors(form.codePostal) }}
			        	<label class="mb-0">Code Postal</label>
						{{ form_widget(form.codePostal, {'id': 'postal_code', 'attr': {'class': 'form-control mt-0 pt-0'}}) }}
			    	</div>
		    	</div>

		    	{# VILLE #}
		    	<div class="col-md-6">
			    	<div class="">
			        	{{ form_errors(form.ville) }}
			        	<label class="mb-0">Ville</label>
						{{ form_widget(form.ville, {'id': 'locality', 'attr': {'class': 'form-control mt-0 pt-0'}}) }}
			    	</div>
			    </div>

	    	</div>

	    {# PARTIE DATE ET HEURE #}
    	<p class="h5 mt-4 mb-3"><i class="fa fa-calendar" aria-hidden="true"></i> Vous pensez à une date ?</p>

    		<div class="row">

				{# DATE #}
				<div class="col-md-6">
			    	<div class="form-group">
			        	{{ form_errors(form.dateEvenement.date) }}
			        	<label>Date de l'événement</label>
						{{ form_widget(form.dateEvenement.date, {'attr': {'class': ''}}) }}
			    	</div>
		    	</div>

		    	{# HEURE #}
		    	<div class="col-md-6">
			    	<div class="form-group">
			        	{{ form_errors(form.dateEvenement.time) }}
			        	<label>Heure de l'événement</label>
			        	<div class="row">
			        		<div class="col-6">
								{{ form_widget(form.dateEvenement.time.hour, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="col-6">
								{{ form_widget(form.dateEvenement.time.minute, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
			    	</div>
		    	</div>

		    </div>

		{# PARTIE INSCRIPTION #}
    	<p class="h5 mt-4 mb-3"><i class="fa fa-group" aria-hidden="true"></i> On peut venir à combien ?</p>
    	<div class="row">

	    	{# NB MAX PARTICIPANT #}
	    	<div class="col-md-6">
	    		{{ form_errors(form.participantMax) }}
	    		<label>Nombres maximum de participants</label>
				{{ form_widget(form.participantMax, {'attr': {'class': 'form-control'}}) }}
	    	</div>
    	</div>


    	{# PARTIE INSCRIPTION #}
    	<p class="h5 mt-4 mb-3"><i class="fa fa-star-o" aria-hidden="true"></i> Ça reste entre nous ?</p>
			<p class="small">Un événement privé n'apparaît pas dans le fil d'actualité des événements. Vous recevrez un lien URL vers votre événement à partager à vos amis, famille ou aux salariés de votre entreprise.</p>

	    	{# PRIVE OU NON #}
	    	<p>
	        	{{ form_errors(form.statut) }}
	        	{{ form_widget(form.statut, {'id': 'prive'}) }}
	        	<label for="prive"><span class="ui"></span>Cet événement est privé</label>
	        </p>

    	<hr>
    	
    	<div class="text-center">
        	<button class="btn btn-plusun" type="submit">Lancez votre proposition<i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>

    {{ form_end(form) }}


</section>

{% endblock %}

{# ajout de jQuery en fonction des pages #}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/file.js') }}"></script>
{% endblock %}